<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260783776820-cohej9nivo1fgsgin0gmobhqkolvtjt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260783776820-cohej9nivo1fgsgin0gmobhqkolvtjt4</string>
	<key>API_KEY</key>
	<string>AIzaSyBnaS7poBJAZr_bI7u5TATiBV0lLHuoWC8</string>
	<key>GCM_SENDER_ID</key>
	<string>260783776820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scar-naruto.firbaseMessaging</string>
	<key>PROJECT_ID</key>
	<string>firbasemessaging-57b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>firbasemessaging-57b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260783776820:ios:5108b58719d4c7d8</string>
	<key>DATABASE_URL</key>
	<string>https://firbasemessaging-57b7e.firebaseio.com</string>
</dict>
</plist>